.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: list-item;
  justify-content: center;
  align-items: center;
}

.vertical-scroll {
  overflow-y: auto;
  margin: 10px 0px 0px 40px;
  height: 10vh;
  padding: 10px;
  max-width: 94%;
  line-height: 1.5;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
